
<div class="row">
  <div class="col-lg-12 col-sm-12 column">
    <div class="box-header">
      <div class="btn-pdf">
        <b-button class="btn-mwhq" @click="generateReportPDF()" variant="dark">PDF File</b-button>
        <b-button class="btn-mwhq" @click="print()" variant="dark">Print</b-button>
      </div>
      <div class="select-box">
        <!-- <b-form-select @change="selectedMonth($event)" v-model="month" :options="dateReport.options" size="sm" ></b-form-select>
 <b-form-select :options="dateReport.optionsYear" size="sm" class="ml-3"></b-form-select> -->
        <b-button class="btn-mwhq" @click="setMonth()" variant="dark">Show Historical Reports</b-button>
        <b-button v-if="window.fbUser.email==='nat@mywardrobehq.com' || window.fbUser.email==='sebastian@tangle.io' || window.fbUser.email==='pragmatron@gmail.com'|| window.fbUser.email==='dawidhaczela@gmail.com'" class="btn-mwhq" @click="showSubscription()" variant="dark">{{textSubBtn}} Subscription Table</b-button>
      </div>
    </div>
    <div id="print">

      <!-- <div class="logo"><img src="https://firebasestorage.googleapis.com/v0/b/tangle-157402.appspot.com/o/-NLvDXaAsLMKE7dEZj5z%2Fmwhq_logo%20BLACK.png?alt=media&amp;token=3c704ff9-5bce-4b87-a4d0-9b12829ce983" alt="logo"></div> -->
      <div class="logo">
        <div style="background-image:url(https://firebasestorage.googleapis.com/v0/b/tangle-157402.appspot.com/o/-NLvDXaAsLMKE7dEZj5z%2Fmwhq_logo%20BLACK.png?alt=media&amp;token=3c704ff9-5bce-4b87-a4d0-9b12829ce983)" class="log-picture"></div>
      </div>
      <div class="top-raport">
        <h2>December Earnings Report</h2>
        <div>
          <div>
            <p>Vendor Name:</p>
            <p>Payment Date:
            </p>
          </div>
          <div>
            <p>{{vendorName($getUser('email'))}}</p>
            <p>{{paymentDate('December')}}
            </p>
          </div>
          <div>
            <p>% Earning from Rental:</p>
            <p>% Earning from Sales:</p>
          </div>
          <div>
            <p>{{homeReportPercentage($getUser('email')).perRent}}%</p>
            <p>{{homeReportPercentage($getUser('email')).perSale}}%
            </p>
          </div>
          <div>
            <p>Invoice Number</p>
            <p>Payment Period:
            </p>
          </div>
          <div>
            <p>1</p>
            <p>1-31 Dec 2022
            </p>
          </div>
        </div>
      </div>
      <h2>Monthly Rentals</h2>
      <table class="tab-class">
        <thead>
          <tr>
            <th>Transaction Date</th>
            <th>Transaction ID</th>
            <th>Item Name</th>
            <th>Item SKU</th>
            <th>Sec SKU</th>
            <th>Rental Period</th>
            <th>Gross Rental Price</th>
            <th>Net Rental Price</th>
            <th>MWHQ Commission Rate</th>
            <th>MWHQ Commission</th>
            <th>Vat on MWHQ Commission</th>
            <th>Total MWHQ Deductions from Gross Rental Price</th>
            <th>Net Balance Due to Vendor</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in monthlyRentals($getUser('email')).rental">
            <td>{{item.$transactionDate$display}}</td>
            <td>{{item.transactionID }}</td>
            <td class="th-name">{{item.itemName}}</td>
            <td>{{item.itemSKU}}</td>
            <td></td>
            <td>{{item.rentalPeriod}}</td>
            <td>£{{item.mWRent15.toFixed(2)}}</td>
            <td>£{{item.netRentalPrice.toFixed(2)}}</td>
            <td>{{(item.mWHQCommissionRate*100).toFixed(2) }}%</td>
            <td>£{{item.mWHQCommission.toFixed(2) }}</td>
            <td>£{{item.vATonMWHQCommission.toFixed(2)}}</td>
            <td>£{{item.totalMWHQDeductionsfromGrossSalesPrice.toFixed(2)}}</td>
            <td>£{{item.netBalanceDueToVendor.toFixed(2)}}</td>
          </tr>
          <tr class="bottom-row">
            <th colspan="3">Total</th>
            <td>{{rentalTotal($getUser('email')).total.totalItem}}</td>
            <td colspan="3"></td>
            <td>£{{rentalTotal($getUser('email')).total.totalNet.toFixed(2)}}</td>
            <td>{{rentalTotal($getUser('email')).total.totalRate}}%</td>
            <td>£{{rentalTotal($getUser('email')).total.totalMWHQcom}}</td>
            <td>£{{rentalTotal($getUser('email')).total.totalVat}}</td>
            <td>£{{rentalTotal($getUser('email')).total.totalGross}}</td>
            <td>£{{rentalTotal($getUser('email')).total.totalBalance}}</td>
          </tr>
        </tbody>
      </table>
      <h2 v-if="$getUser('showSub')">Subscription</h2>
      <table class="tab-class" v-if="$getUser('showSub')">
        <thead>
          <tr>
            <th>Transaction Date</th>
            <th>Transaction ID</th>
            <th>Item Name</th>
            <th>Item SKU</th>
            <th>Sec SKU</th>
            <th>Rental Period</th>
            <th>Gross Rental Price</th>
            <th>Net Rental Price</th>
            <th>MWHQ Commission Rate</th>
            <th>MWHQ Commission</th>
            <th>Vat on MWHQ Commission</th>
            <th>Total MWHQ Deductions from Gross Rental Price</th>
            <th>Net Balance Due to Vendor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td class="th-name"></td>
            <td></td>
            <td></td>
            <td></td>
            <td>£</td>
            <td>£</td>
            <td>%</td>
            <td>£</td>
            <td>£0.00</td>
            <td>£</td>
            <td>£</td>
          </tr>
          <tr class="bottom-row">
            <th colspan="3">Total</th>
            <td></td>
            <td colspan="3"></td>
            <td>£</td>
            <td>%</td>
            <td>£</td>
            <td>£0.00</td>
            <td>£</td>
            <td>£</td>
          </tr>
        </tbody>
      </table>
      <h2>Monthly Sales</h2>
      <table class="tab-class">
        <thead>
          <tr>
            <th>Transaction Date</th>
            <th>Transaction ID</th>
            <th>Item Name</th>
            <th>Item SKU</th>
            <th>Sec SKU</th>
            <th>Gross Sale Price</th>
            <th>Net Sales Price</th>
            <th>MWHQ Commission Rate</th>
            <th>MWHQ Commission</th>
            <th>Vat on MWHQ Commission</th>
            <th>Total MWHQ Deductions from Gross Sales Price</th>
            <th>Net Balance Due to Vendor</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in monthlySales($getUser('email')).sales">
            <td>{{item.$transactionDate$display}}</td>
            <td>{{item.transactionID }}</td>
            <td class="th-name">{{item.itemName}}</td>
            <td>{{item.itemSKU}}</td>
            <td></td>
            <td>£{{item.grossSalesPrice.toFixed(2) }}</td>
            <td>£{{item.netSalesPrice.toFixed(2)}}</td>
            <td>{{(item.mWHQCommissionRate*100).toFixed(2) }}%</td>
            <td>£{{item.mWHQCommission.toFixed(2) }}</td>
            <td>£{{item.vATonMWHQCommission.toFixed(2)}}</td>
            <td>£{{item.totalMWHQDeductionsfromGrossSalesPrice.toFixed(2)}}</td>
            <td>£{{item.netBalanceDueToVendor.toFixed(2)}}</td>
          </tr>
          <tr class="bottom-row">
            <th colspan="3">Total</th>
            <td>{{salesTotal($getUser('email')).total.totalItem}}</td>
            <td colspan="2"></td>
            <td>£{{salesTotal($getUser('email')).total.totalNet}}</td>
            <td>{{salesTotal($getUser('email')).total.totalRate}}%</td>
            <td>£{{salesTotal($getUser('email')).total.totalMWHQcom}}</td>
            <td>£{{salesTotal($getUser('email')).total.totalVat}}</td>
            <td>£{{salesTotal($getUser('email')).total.totalGross}}</td>
            <td>£{{salesTotal($getUser('email')).total.totalBalance}}</td>
          </tr>
        </tbody>
      </table>
      <div class="box-small-table">
        <h3>INVOICE SUMMARY</h3>
        <table class="small-tab">
          <thead>
            <tr>
              <th></th>
              <th>Due to MWHQ</th>
              <th>Due To Vendor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Rental Commissions</th>
              <td>£{{rentalTotal($getUser('email')).total.totalMWHQcom}}</td>
              <td>£{{rentalTotal($getUser('email')).total.totalBalance}}</td>
            </tr>
            <tr>
              <th>Sale Commissions</th>
              <td>£{{salesTotal($getUser('email')).total.totalMWHQcom}}</td>
              <td>£{{salesTotal($getUser('email')).total.totalBalance}}</td>
            </tr>
            <!-- <tr>
 <th>Return Commissions</th> <td>£0.00</td> <td>£0.00</td>
 </tr> -->
            <tr class="bottom-row">
              <th>Sub-Total</th>
              <td>£{{(parseFloat(rentalTotal($getUser('email')).total.totalMWHQcom) + parseFloat(salesTotal($getUser('email')).total.totalMWHQcom)).toFixed(2)}}</td>
              <td>£{{(parseFloat(rentalTotal($getUser('email')).total.totalBalance) + parseFloat(salesTotal($getUser('email')).total.totalBalance)).toFixed(2) }}</td>
            </tr>
            <tr>
              <th>MWHQ VAT</th>
              <td>£{{(parseFloat(rentalTotal($getUser('email')).total.totalVat) + parseFloat(salesTotal($getUser('email')).total.totalVat)).toFixed(2)}}</td>
              <td></td>
            </tr>
            <tr class="bottom-row">
              <th>Total Due To MWHQ</th>
              <td>£{{(parseFloat(rentalTotal($getUser('email')).total.totalMWHQcom) + parseFloat(salesTotal($getUser('email')).total.totalMWHQcom) + parseFloat(rentalTotal($getUser('email')).total.totalVat) + parseFloat(salesTotal($getUser('email')).total.totalVat)).toFixed(2) }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Total Due To Vendor</th>
              <td></td>
              <td class="vendor-total">£{{(parseFloat(rentalTotal($getUser('email')).total.totalBalance) + parseFloat(salesTotal($getUser('email')).total.totalBalance)).toFixed(2) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <style>
      td,
      tr,
      th {
        border: 1px solid black;
      }

      th {
        padding: .3em;
        text-align: center;
        background-color: #f8f9fe;
      }

      td {
        text-align: right;
        padding-right: .3em;

      }

      .th-name {
        text-align: center;

      }

      .bottom-row {
        border-top: 3px solid black;
      }

      h2 {
        padding: .8em;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }

      .tab-class {
        margin: auto;

      }

      .top-raport {

        margin: auto;
        background-color: #f8f9fe;
      }

      .top-raport>div {
        width: 100%;
        display: flex;
        justify-content: space-between;

      }

      .top-raport>div div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: right;
        padding: .5em;
      }

      .sub-title {
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, .2);
        letter-spacing: .1rem;
        padding: .1em;
      }

      h1 {
        width: 100%;
        text-align: center;
        letter-spacing: .3rem;
      }

      .small-tab {
        width: 50%;
        margin-top: .3em;

      }

      .vendor-total {
        background-color: #bec7f7;
      }

      .box-small-table {


        display: flex;
        flex-direction: column;
        margin: auto;
      }

      h3 {
        margin-top: 1em;
        padding: .5em;
        font-weight: bold;
      }

      .select-box {
        width: 50%;
        display: flex;
        justify-content: end;
      }

      .box-header {
        display: flex;
        width: 100%;
        justify-content: space-around;
      }

      h1,
      h5,
      .top-raport,
      h2,
      table,
      h3,
      .btn-mwhq {
        font-family: 'Futura' !important;
      }

      .btn-mwhq {
        text-transform: uppercase;
        letter-spacing: .1rem;
      }

      .logo {
        display: flex;
        justify-content: center;
        margin: auto;

      }

      .logo>img {
        width: 300px;
        height: 100px;
        object-fit: contain
      }

      .log-picture {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/tangle-157402.appspot.com/o/-NLvDXaAsLMKE7dEZj5z%2Fmwhq_logo%20BLACK.png?alt=media&amp;token=3c704ff9-5bce-4b87-a4d0-9b12829ce983");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 400px;
        height: 100px;
        margin: auto;
      }

      @media print {

        h1,
        h5,
        .top-raport,
        h2,
        table,
        h3,
        .btn-mwhq {
          font-family: 'Futura' !important;
        }
      }
    </style>
  </div>
</div>