<div class="row">
  <div style="margin-bottom: 20px;" class="col-lg-12 col-sm-12 column">
    <div class="box-header">
      <div class="btn-pdf">
        <b-button class="btn-mwhq" @click="generateReportPDF()" variant="dark">PDF File</b-button>
        <b-button class="btn-mwhq" @click="print()" variant="dark">Print</b-button>
      </div>
      <div class="select-box">
        <b-button class="btn-mwhq" @click="setMonth()" variant="dark">Show Historical Reports</b-button>
        <!-- <b-button v-if="this.fbUser.email==='nat@mywardrobehq.com' || this.fbUser.email==='sebastian@tangle.io' || this.fbUser.email==='pragmatron@gmail.com'|| this.fbUser.email==='dawidhaczela@gmail.com'" class="btn-mwhq" @click="showSubscription()" variant="dark">{{textSubBtn}} Subscription Table</b-button> -->
      </div>
    </div>
  </div>
</div>
<div v-if="this.fbUser.email==='nat@mywardrobehq.com' || this.fbUser.email==='dawidhaczela@gmail.com' || this.fbUser.email==='sebastian@tangle.io'">
   <v-select
    v-model="$userData('vendorName').bind"
    :options="$getUser('nameForSearch')"
    :dropdown-should-open="valueSearch"
    @input="dataVendors($event)"
    placeholder="search member"
  
  />
</div>
<div style="display:flex; width:100%; justify-content:space-around; padding:1em 0;">
  <p style="font-weight:600; margin:0;">Select a month if you want to see a report from a different month than the current one:</p>
   <v-select
   v-model="$userData('monthSelect').bind"
    :options="monthsForSelect().months"
    @input="monthForShow($event)"
    placeholder="Select Different Month"
    style="width:30%;"
  />

</div>